# Filtros

Ao se examinar um conjunto de dados, é frequente a situação em que o auditor tem interesse em selecionar para exame apenas um subconjunto do mesmo, ou seja, selecionar os registros que atendam a determinados critérios por ele definidos.

Assim o auditor pode desejar selecionar para análise, apenas os registros onde o valor das faturas, por exemplo, sejam superiores a determinado valor, ou faturas emitidas em um determinado período ou ainda registros relativos a funcionários de um determinado departamente de uma empresa.

Para a aplicação de filtros aos dados, o R dispõe da função **`subset()`**. Além desta função, também pode-se usar o sistema de indexação do R.

Para ilustrar o uso de filtros usarei o conjunto de dados `rh.RData` que contém informação relativa aos recursos humandos de uma empresa. Os dados estão armazenados no formato `.RData` que é o formato de dados do R.

A importação dos dados pode ser feita da seguinte forma:

In [1]:
setwd('C:\\Users\\Marcos\\Documents\\GitHub\\Usando-R-em-Auditoria\\dados')
load('rh.RData')
ls()

[1] "rh"

In [3]:
str(rh)
head(rh)

'data.frame':	5000 obs. of  10 variables:
 $ Sexo            : chr  "Masculino" "Masculino" "Feminino" "Feminino" ...
 $ Estado.Civil    : chr  "Casado" "Viúvo" "Casado" "Casado" ...
 $ Anos.de.estudo  : int  14 19 18 16 15 18 18 12 14 12 ...
 $ Formação        : chr  "SEC" "SEC" "SEC" "SEC" ...
 $ Tempo.de.empresa: int  19 31 28 20 15 23 27 20 11 16 ...
 $ Unidade         : chr  "Curitiba" "São Paulo" "Rio de Janeiro" "Rio de Janeiro" ...
 $ Departamento    : chr  "Produção" "Vendas" "Financeiro" "Vendas" ...
 $ Cargo           : chr  "Assistente" "Assistente" "Assistente" "Assistente" ...
 $ Salário         : num  16.7 29.1 21.8 22.6 16.7 ...
 $ Bônus           : num  28.02 41.24 16.88 13.5 8.44 ...

  Sexo      Estado.Civil Anos.de.estudo Formação Tempo.de.empresa
1 Masculino Casado       14             SEC      19
2 Masculino Viúvo        19             SEC      31
3 Feminino  Casado       18             SEC      28
4 Feminino  Casado       16             SEC      20
5 Masculino Solteiro     15             SEC      15
6 Masculino Casado       18             SEC      23
  Unidade        Departamento Cargo      Salário Bônus
1 Curitiba       Produção     Assistente 16.67   28.02
2 São Paulo      Vendas       Assistente 29.13   41.24
3 Rio de Janeiro Financeiro   Assistente 21.80   16.88
4 Rio de Janeiro Vendas       Assistente 22.61   13.50
5 Curitiba       Vendas       Auxiliar   16.67    8.44
6 São Paulo      Pessoal      Assistente  8.34   86.88

Supondo que se deseje selecionar apenas os registros relativos a funcionários do sexo feminino, pode-se fazer da seguinte forma:

In [8]:
rh_feminino <- subset(rh, Sexo == 'Feminino')
head(rh_feminino)

   Sexo     Estado.Civil Anos.de.estudo Formação Tempo.de.empresa
3  Feminino Casado       18             SEC      28
4  Feminino Casado       16             SEC      20
10 Feminino Casado       12             HUM      16
11 Feminino Solteiro     13             HUM      20
13 Feminino Casado       13             EXA      23
14 Feminino Solteiro      8             EXA       0
   Unidade        Departamento Cargo      Salário Bônus
3  Rio de Janeiro Financeiro   Assistente 21.80   16.88
4  Rio de Janeiro Vendas       Assistente 22.61   13.50
10 Rio de Janeiro Produção     Assistente  5.78   16.68
11 Florianópolis  Produção     Auxiliar    1.08   11.72
13 Rio de Janeiro Pessoal      Assistente  5.19   16.48
14 Florianópolis  Produção     Auxiliar    1.02    2.30

Bem, e se quisermos filtrar os registros relativos a funcionários do sexo masculino, da unidade do Rio de Janeiro, dos departamentos financeiro e de vendas e que possuam salário superior a $70,00?

In [12]:
subset(rh, Sexo == 'Masculino' &
           Unidade == 'Rio de Janeiro' &
           Departamento %in% c('Financeiro', 'Vendas') &
           Salário > 70)

     Sexo      Estado.Civil Anos.de.estudo Formação Tempo.de.empresa
368  Masculino Viúvo        22             SEC      50
388  Masculino Casado       23             SEC      42
398  Masculino Casado       19             SEC      45
409  Masculino Casado       28             SEC      37
608  Masculino Casado       22             SEC      36
761  Masculino Casado       19             SEC      41
799  Masculino Casado       21             SEC      39
1317 Masculino Casado       23             SEC      39
1436 Masculino Casado       22             SEC      37
1568 Masculino Casado       22             SEC      35
1697 Masculino Casado       21             SEC      37
1828 Masculino Casado       20             SEC      20
2592 Masculino Casado       22             SEC      41
3014 Masculino Casado       20             SEC      36
3230 Masculino Casado       20             SEC      29
3521 Masculino Casado       25             SEC      38
3697 Masculino Casado       23             SEC      39
3778 Masculino Casado       19             SEC      39
4231 Masculino Casado       21             SEC      23
4551 Masculino Casado       22             SEC      30
4652 Masculino Casado       23             SEC      48
4828 Masculino Casado       24             SEC      36
     Unidade        Departamento Cargo           Salário Bônus
368  Rio de Janeiro Vendas       Vice-Presidente  77.47   49.48
388  Rio de Janeiro Vendas       Gerente          88.93  148.60
398  Rio de Janeiro Vendas       Vice-Presidente  88.93  110.26
409  Rio de Janeiro Vendas       Vice-Presidente 141.42  341.18
608  Rio de Janeiro Vendas       Gerente          92.97  127.32
761  Rio de Janeiro Vendas       Gerente          75.20   84.36
799  Rio de Janeiro Vendas       Gerente          81.65  103.02
1317 Rio de Janeiro Vendas       Vice-Presidente  79.31  192.14
1436 Rio de Janeiro Vendas       Vice-Presidente  99.77  176.88
1568 Rio de Janeiro Vendas       Gerente          75.20   90.74
1697 Rio de Janeiro Vendas       Gerente          77.92   92.72
1828 Rio de Janeiro Vendas       Gerente          71.22  146.82
2592 Rio de Janeiro Vendas       Gerente          87.45  101.60
3014 Rio de Janeiro Vendas       Gerente          74.30  181.88
3230 Rio de Janeiro Vendas       Gerente          70.35  114.76
3521 Rio de Janeiro Vendas       Vice-Presidente 151.48   90.10
3697 Rio de Janeiro Vendas       Vice-Presidente 110.23   76.50
3778 Rio de Janeiro Vendas       Gerente          82.60  158.62
4231 Rio de Janeiro Vendas       Gerente          73.41   56.82
4551 Rio de Janeiro Vendas       Gerente          74.75  153.10
4652 Rio de Janeiro Vendas       Gerente          92.97  137.28
4828 Rio de Janeiro Vendas       Vice-Presidente  72.09  174.90