# Ordenação

A ordenação de um conjunto de dados com base nos valores de um determinado campo é uma tarefa comum quando se faz análise de dados.  Normalmente o auditor busca, com este procedimento, identificar os maiores valores lançados, as maiores despesas, etc.

Para a execução desta técnica o R dispõe da função `order()`, cuja utilização será melhor apreendida com um exemplo. 

Utilizaremos o conjunto de dados `Invoices.csv` para exemplificar sua utilização na ordenação do conjunto de dados com base nos valores das faturas emitidas, o que permitirá identificar as de maior valor.

Os comandos a seguir ilustram o procedimento:

## Ordenamento com base em uma coluna

In [1]:
setwd('C:\\Users\\Marcos\\Documents\\GitHub\\Usando-R-em-Auditoria\\dados')
faturamento <- read.csv2("Invoices.csv")
str(faturamento)
head(faturamento)

'data.frame':	4999 obs. of  8 variables:
 $ Date       : Factor w/ 365 levels "01/01/2003","01/02/2003",..: 103 248 320 329 72 281 82 284 67 163 ...
 $ InvoiceNo  : int  20000 20001 20002 20003 20004 20005 20006 20007 20008 20009 ...
 $ CustomerNo : int  10220 10491 10704 10430 10841 10777 10653 10413 10654 10300 ...
 $ SalesPerson: int  8 4 3 5 17 1 19 12 12 1 ...
 $ ProductNo  : int  8 48 43 54 11 5 58 61 4 10 ...
 $ UnitPrice  : num  9.2 14 15 24 15 12.5 24 31 34.8 49.3 ...
 $ Quantity   : int  41 30 25 22 21 50 2 51 21 5 ...
 $ Amount     : num  377 420 375 528 315 ...

  Date       InvoiceNo CustomerNo SalesPerson ProductNo UnitPrice Quantity
1 09/07/2003 20000     10220       8           8         9.2      41
2 21/08/2003 20001     10491       4          48        14.0      30
3 27/08/2003 20002     10704       3          43        15.0      25
4 28/05/2003 20003     10430       5          54        24.0      22
5 06/12/2003 20004     10841      17          11        15.0      21
6 24/05/2003 20005     10777       1           5        12.5      50
  Amount
1 377.2
2 420.0
3 375.0
4 528.0
5 315.0
6 625.0

A ordenação dessa base de dados com base nos valores das faturas (campo `Amount`) pode ser feita de forma crescente ou decrescente como ilustrado a seguir:

In [2]:
# Ordenação da base de dados - ordem crescente (default)
faturamento <- faturamento[order(faturamento$Amount),]
head(faturamento, 10)

     Date       InvoiceNo CustomerNo SalesPerson ProductNo UnitPrice Quantity
478  21/06/2003 20478     10597      16          34        2.5       2
2566 08/01/2003 22566     10344       6          34        2.5       2
2693 25/03/2003 22693     10666      17          34        2.5       2
3026 14/03/2003 23026     10487      12          34        2.5       2
629  06/01/2003 20629     10304      25          53        6.0       1
494  27/12/2003 20494     10354      17          47        7.0       1
3721 13/10/2003 23721     10325      15          42        7.0       1
2372 22/08/2003 22372     10617      22          34        2.5       3
4362 01/06/2003 24362     10987      12          34        2.5       3
3743 03/09/2003 23743     10338      18          55        9.0       1
     Amount
478  5.0
2566 5.0
2693 5.0
3026 5.0
629  6.0
494  7.0
3721 7.0
2372 7.5
4362 7.5
3743 9.0

In [4]:
# Ordenação da base de dados em ordem decrescente
faturamento <- faturamento[order(faturamento$Amount, decreasing=TRUE),]
head(faturamento, 10)

     Date       InvoiceNo CustomerNo SalesPerson ProductNo UnitPrice Quantity
3184 24/04/2003 23184     10913       9          14        263.5     51
4047 28/02/2003 24047     10073      22          60        263.5     51
252  11/07/2003 20252     10636       9          60        263.5     49
1549 12/06/2003 21549     10181      12          14        263.5     49
272  06/07/2003 20272     10934      15          60        263.5     48
159  30/07/2003 20159     10894       2          60        263.5     47
4284 05/05/2003 24284     10655      23          60        263.5     47
351  27/06/2003 20351     10208      10          60        263.5     46
1461 19/04/2003 21461     10473      23          14        263.5     46
2484 05/11/2003 22484     10360       7          14        263.5     46
     Amount
3184 13438.5
4047 13438.5
252  12911.5
1549 12911.5
272  12648.0
159  12384.5
4284 12384.5
351  12121.0
1461 12121.0
2484 12121.0

## Ordenamento com base em duas colunas

Caso nosso interesse fosse em ordenar a base de dados com base na coluna `SalesPerson` (ordem crescente) e na coluna `Amount` (ordem decrescente), podemos fazer da seguinte forma:

In [5]:
faturamento <- faturamento[order(faturamento$SalesPerson, -faturamento$Amount),]
head(faturamento)
tail(faturamento)

     Date       InvoiceNo CustomerNo SalesPerson ProductNo UnitPrice Quantity
3503 18/02/2003 23503     10363      1           65        55.0      48
2397 26/04/2003 22397     10974      1           73        49.3      39
2516 04/10/2003 22516     10220      1           63        38.0      45
2746 19/03/2003 22746     10084      1           25        36.0      47
1022 21/01/2003 21022     10463      1           29        43.9      35
2295 04/07/2003 22295     10312      1           19        30.0      49
     Amount
3503 2640.0
2397 1922.7
2516 1710.0
2746 1692.0
1022 1536.5
2295 1470.0

     Date       InvoiceNo CustomerNo SalesPerson ProductNo UnitPrice Quantity
1784 05/03/2003 21784     10464      26          72         7.75      7
2958 30/07/2003 22958     10858      26          64         9.00      5
3795 28/06/2003 23795     10256      26           1        14.00      2
964  16/11/2003 20964     10976      26          77         9.65      2
3580 30/05/2003 23580     10324      26          67         9.50      2
12   14/01/2003 20010     10439      99          38         7.45     28
     Amount
1784  54.25
2958  45.00
3795  28.00
964   19.30
3580  19.00
12   208.60

Observe que, como a opção *default* é a ordenação crescente, o sinal de menos vaí à frente do campo onde se deseja uma ordenação no setido oposto à determinada pelo argumento `decresing=`.