# Tabulação Cruzada

A tabulação cruzada consiste normalmente em se determinar a distribuição de frequências de uma, duas ou mais variáveis categóricas. O R dispõe das funções `table()` e `xtabs()` que nos permitem implementar esta técnica.

Utilizando o conjunto de dados `rh.RData` que contém informações sobre os os funcionários de uma empresa, suponha que se queira saber quantos funcionários de cada sexo existem na empresa. Com a função `table()` esta informação pode ser obtida da seguintes forama:

In [3]:
setwd('C:\\Users\\Marcos\\Documents\\GitHub\\Usando-R-em-Auditoria\\dados')
load('rh.RData')
head(rh)

  Sexo      Estado.Civil Anos.de.estudo Formação Tempo.de.empresa
1 Masculino Casado       14             SEC      19
2 Masculino Viúvo        19             SEC      31
3 Feminino  Casado       18             SEC      28
4 Feminino  Casado       16             SEC      20
5 Masculino Solteiro     15             SEC      15
6 Masculino Casado       18             SEC      23
  Unidade        Departamento Cargo      Salário Bônus
1 Curitiba       Produção     Assistente 16.67   28.02
2 São Paulo      Vendas       Assistente 29.13   41.24
3 Rio de Janeiro Financeiro   Assistente 21.80   16.88
4 Rio de Janeiro Vendas       Assistente 22.61   13.50
5 Curitiba       Vendas       Auxiliar   16.67    8.44
6 São Paulo      Pessoal      Assistente  8.34   86.88

In [4]:
table(rh$Sexo)

 Feminino Masculino
     2058      2940

O mesmo resultado poderia ser obtido com a função `xtabs()`, da seguinte forma:

In [2]:
xtabs(~ Sexo, data=rh)

Sexo
 Feminino Masculino
     2058      2940

Com os comandos acima, obteve-se a distribuição de frequência de uma única vaiável: `Sexo`. Caso se deseje obter a distribuição conjunta das variáveis `Sexo` e `Estado.Civil`, também conhecida como tabela de contingência, pode-se proceder da seguinte forma:

In [5]:
table(rh$Sexo, rh$Estado.Civil)

            Casado Divorciado Solteiro Viúvo
  Feminino    1367        181      371   135
  Masculino   2080        238      419   198

Utilizando-se a função `xtabs()` o mesmo resultado poderia ser obtido da seguinte forma:

In [9]:
xtabs( ~ Sexo + Estado.Civil, data=rh)

           Estado.Civil
Sexo        Casado Divorciado Solteiro Viúvo
  Feminino    1367        181      371   135
  Masculino   2080        238      419   198

Caso nosso interesse fosse totalizar os salários por `Sexo`, a função `xtabs()` nos permite esta operação da seguinte forma:

In [10]:
xtabs(Salário ~ Sexo, data=rh)

Sexo
 Feminino Masculino
 17858.10  46206.43