# Apensar Novos Campos

Para realizar esta tarefa o R dispõe da função **`cbind()`**. Para ilustrar este procedimento serão criados os dados a serem utiliados. Serão criados 3 vetores que serão então combinados para formar um conjunto de dados único.

In [1]:
Coluna1 <- rep(c("Marcos", "Maria", "Carla"), 6) # 18 elementos
Coluna2 <- rnorm(18) # 18 números aleatórios provenientes de uma normal padr?o
Coluna3 <- sample(c("Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"), 18, replace=TRUE)

In [2]:
Coluna1

 [1] "Marcos" "Maria"  "Carla"  "Marcos" "Maria"  "Carla"  "Marcos" "Maria"
 [9] "Carla"  "Marcos" "Maria"  "Carla"  "Marcos" "Maria"  "Carla"  "Marcos"
[17] "Maria"  "Carla"

In [3]:
Coluna2

 [1] -0.64766911  0.33119831  0.04163367 -2.03003241 -0.22083694 -0.51053416
 [7] -2.29353358 -1.34712577  0.78759862 -1.00674367 -0.24628985  0.24397603
[13] -1.08938560 -0.29036629  0.64307979  0.54858819 -0.01679350 -0.88856068

In [4]:
Coluna3

 [1] "Dez" "Mai" "Jun" "Abr" "Mai" "Nov" "Fev" "Nov" "Jan" "Fev" "Abr" "Set"
[13] "Ago" "Mar" "Mai" "Abr" "Jul" "Nov"

In [5]:
# Combinar as colunas
Novo <- cbind(Coluna1, Coluna2, Coluna3)
Novo

      Coluna1 Coluna2             Coluna3
 [1,] Marcos  -0.647669109383394  Dez
 [2,] Maria   0.331198308716988   Mai
 [3,] Carla   0.0416336729298363  Jun
 [4,] Marcos  -2.03003240765505   Abr
 [5,] Maria   -0.220836940389205  Mai
 [6,] Carla   -0.510534163334804  Nov
 [7,] Marcos  -2.29353358023935   Fev
 [8,] Maria   -1.34712576567782   Nov
 [9,] Carla   0.78759862337365    Jan
[10,] Marcos  -1.00674367191997   Fev
[11,] Maria   -0.246289853890765  Abr
[12,] Carla   0.243976028593256   Set
[13,] Marcos  -1.08938560117935   Ago
[14,] Maria   -0.29036629274328   Mar
[15,] Carla   0.643079793474063   Mai
[16,] Marcos  0.548588189012203   Abr
[17,] Maria   -0.0167935021095079 Jul
[18,] Carla   -0.888560680373348  Nov

A função **`cbind()`** retorna uma matriz, e no caso presente retornou uma matriz 18 x 3.

Como pode ser visto, todas as colunas estão no formato de caractere, embora a `Coluna2` seja numérica.  Esta é uma característica das matrizes; todas as colunas devem ser do mesmo tipo.

Uma outra forma de juntar as colunas é usando a função **`data.frame()`**.

In [6]:
Novo2 <- data.frame(Nome=Coluna1, Valor=Coluna2, Mes=Coluna3)
Novo2

   Nome   Valor       Mes
1  Marcos -0.64766911 Dez
2  Maria   0.33119831 Mai
3  Carla   0.04163367 Jun
4  Marcos -2.03003241 Abr
5  Maria  -0.22083694 Mai
6  Carla  -0.51053416 Nov
7  Marcos -2.29353358 Fev
8  Maria  -1.34712577 Nov
9  Carla   0.78759862 Jan
10 Marcos -1.00674367 Fev
11 Maria  -0.24628985 Abr
12 Carla   0.24397603 Set
13 Marcos -1.08938560 Ago
14 Maria  -0.29036629 Mar
15 Carla   0.64307979 Mai
16 Marcos  0.54858819 Abr
17 Maria  -0.01679350 Jul
18 Carla  -0.88856068 Nov

Para utilizarmos a função **`cbind()`** é necessário que a quantidade de registros seja a mesma nos arquivos a serem combinados.