# Apensar Novos Registros

Algumas vezes surge a necessidade de apensar novos registros (novas linhas) a um conjunto de dados.  Esta situação surge, por exemplo, quando temos arquivos mensais contendo dados de faturamento de uma empresa, ou mesmo arquivos contendo as transações realizadas em determinada conta contábil e desejamos juntar estes arquivos para fazer a análise de todo o exercício financeiro. O R dispõe da função **`rbind()`** que permite realizar este procedimento. Seu uso será ilustrado com os conjuntos de dados `Trans_Abril.xls` e `Trans_Maio.xls` disponíveis no repositório.

A primeira coisa a ser feita é a importação do conjunto de dados. Para tanto será utilizado o pacote `readxl`, visto que o R não dispõe de funções nativas para a importação de dados armazenados em planilhas do Excel.

In [1]:
# Importação dos dados 
library(readxl)
setwd('C:\\Users\\Marcos\\Documents\\GitHub\\Usando-R-em-Auditoria\\dados') 

abril <- read_excel('Trans_Abril.xls')
maio1 <- read_excel('Trans_Maio.xls', sheet='Trans1_Maio')
maio2 <- read_excel('Trans_Maio.xls', sheet='Trans2_Maio')

Warning message:
"package 'readxl' was built under R version 3.3.2"

In [7]:
dim(abril)

[1] 285   6

In [8]:
dim(maio1)

[1] 86  6

In [9]:
dim(maio2)

[1] 114   6

In [4]:
head(abril, 2)

  Númcartão   Valor  Data_Trans Códigos Númclien Descrição
1 8.59012e+15 270.63 2003-04-02 1731    001000   Contratos de eletricidade
2 8.59012e+15 899.76 2003-04-02 1731    002000   Contratos de eletricidade

In [5]:
head(maio1, 2)

  Númcartão           Códigos Data_Trans Númclien
1 8590 1252 7244 7003 4131    2003-05-27 925007
2 8590128346463420    4214    2003-05-28 051593
  Descrição                                               Valor
1 Linhas de ônibus, incluindo charters, ônibus de turismo $108.01
2 Serviços de entrega - Local                             $71.57

In [6]:
head(maio2, 2)

  Númcartão           Códigos Data_Trans Númclien
1 8590-1224-9766-3807 2741    2003-05-04 962353
2 8590122281964011    5021    2003-05-01 812465
  Descrição                         Valor
1 Publicações e impressões diversas $510.43
2 Móveis de escritório e comerciais $178.96

Examinando os nomes das colunas nas três bases de dados, verifica-se que a base de abril possui as colunas em posições diferentes das posições nas bases de maio1 e maio2. Para que a função `rbind()` possa juntar os arquivos é necessários que as colunas estejam nas mesmas posições em todas bases a serem juntadas. Um forma de organizar as colunas é a que se apresenta a seguir:

In [13]:
colunas <- intersect(names(abril), names(maio1))
colunas <- intersect(colunas, names(maio2))
colunas

[1] "Númcartão"  "Valor"      "Data_Trans" "Códigos"    "Númclien"
[6] "Descrição"

Para combinarmos estes 3 arquivos em um único, pode-se proceder da seguinte forma:

In [14]:
dados <- rbind(abril, maio1, maio2)
head(dados)

  Númcartão        Valor  Data_Trans Códigos Númclien
1 8590120032047834 270.63 2003-04-02 1731    001000
2 8590120092563655 899.76 2003-04-02 1731    002000
3 8590120233319873 730.46 2003-04-04 1750    250402
4 8590120534914664 106.01 2003-04-08 1750    003000
5 8590120674263418 309.37 2003-04-08 2741    001000
6 8590120716753180 534.14 2003-04-15 2741    002000
  Descrição
1 Contratos de eletricidade
2 Contratos de eletricidade
3 Contratos de carpintaria
4 Contratos de carpintaria
5 Publicações e impressões diversas
6 Publicações e impressões diversas

In [15]:
dim(dados)

[1] 485   6

Como é possível ver, a quantidade de registros no conjunto de dados `dados` é igual a soma dos registros existentes em abril, maio1 e maio2.

In [16]:
nrow(abril) + nrow(maio1) + nrow(maio2)

[1] 485