# Cálculo de Novos Campos

A criação de novos campos a partir de campos já existentes no conjunto de dados é uma tarefa bem simples. Vamos ilustrar este procedimento utilizando o operador **`$`** e a função **`transform()`**.

Usaremos o conjunto de dados `Hood.txt` para ilustrar a criação de novos campos. Este conjunto de dados consta do livro **Auditoria** de William C.Boynton, Raymond N. Johnson e Walter G. Kell, Ed. Atlas, 2002 (pág. 528-538)

In [1]:
setwd('C:\\Users\\Marcos\\Documents\\GitHub\\Usando-R-em-Auditoria\\dados')
hood <- read.table("Hood.txt", header=TRUE, dec=",")
str(hood)
head(hood)

'data.frame':	553 obs. of  4 variables:
 $ Codigo: int  10001 10002 10003 10004 10005 10006 10007 10008 10009 10010 ...
 $ Quant : int  13 12 15 11 10 10 8 9 20 9 ...
 $ PUnit : num  250 275 270 200 400 410 400 410 750 750 ...
 $ Valor : num  3250 3300 4050 2200 4000 4100 3200 3690 15000 6750 ...

  Codigo Quant PUnit Valor
1 10001  13    250   3250
2 10002  12    275   3300
3 10003  15    270   4050
4 10004  11    200   2200
5 10005  10    400   4000
6 10006  10    410   4100

Vamos criar um novo campo na base de dados hood chamado `VlrAudit` que será o produto dos campos `Quant` e `PUnit`. Com o uso do operador **`$`** isso pode ser feito da seguinte forma:

In [2]:
hood$VlrAudit <- hood$Quant * hood$PUnit
head(hood, 3)

  Codigo Quant PUnit Valor VlrAudit
1 10001  13    250   3250  3250
2 10002  12    275   3300  3300
3 10003  15    270   4050  4050

Agora vamos criar mais um campo que chamaremos de `dif` e que será a diferença entre os campos `Valor` e `VlrAudit`. Agora usaremos a função `transform()`.

In [3]:
hood <- transform(hood, dif = Valor - VlrAudit)
head(hood, 3)

  Codigo Quant PUnit Valor VlrAudit dif
1 10001  13    250   3250  3250     0
2 10002  12    275   3300  3300     0
3 10003  15    270   4050  4050     0

Agora vamos criar um novo campo chamado `VlrAcum` contendo o valor acumulado do campo `Valor`.

In [4]:
hood <- transform(hood, VlrAcum = cumsum(Valor))
head(hood, 3)

  Codigo Quant PUnit Valor VlrAudit dif VlrAcum
1 10001  13    250   3250  3250     0    3250
2 10002  12    275   3300  3300     0    6550
3 10003  15    270   4050  4050     0   10600

Para eliminiar colunas em um data frame, temos 2 possibilidades: usando `NULL` ou fazendo referência às colunas a serem excluídas.

A exclusão usando `NULL` é feita, atribuindo-se este valor à variável a ser excluída. Exemplo: suponha que se queira excluir a variável `dif`. Isso pode ser feito da seguinte forma:

In [5]:
hood$dif <- NULL
head(hood, 3)

  Codigo Quant PUnit Valor VlrAudit VlrAcum
1 10001  13    250   3250  3250      3250
2 10002  12    275   3300  3300      6550
3 10003  15    270   4050  4050     10600

A exclusão de variáveis fazendo-se referência às mesmas é feita indicando-se um vetor com o número da(s) coluna(s) que se deseja excluir, precedido de um sinal de menos.

Caso se queira excluir as variáveis `VlrAudit` e `VlrAcum` faz-se:

In [6]:
hood <- hood[, -c(5,6)] 
head(hood, 3)

  Codigo Quant PUnit Valor
1 10001  13    250   3250
2 10002  12    275   3300
3 10003  15    270   4050

Como as colunas a serem excluídas eram as colunas 5 e 6 do conjunto de dados, utilizamos `-c(5, 6)`.

**Marcos F Silva**